<article>
    <header>
        <h2 mat-dialog-title>CADASTRO DE USUÁRIO</h2>
    </header>
    <main>
        <form [formGroup]="signUpForm" (submit)="submitForm()">
            <mat-dialog-content>
                <mat-form-field class="w-100" appearance="outline">
                    <mat-label>Nome</mat-label>
                    <input
                        formControlName="name" 
                        matInput
                        type="text">
                    <mat-error *ngIf="signUpForm.get('name').errors?.required">
                        O nome é obrigatório
                    </mat-error>
                    <mat-error *ngIf="signUpForm.get('name').errors?.minlength">
                        O nome deve possuir mais de 2 caracteres
                    </mat-error>
                    <mat-error *ngIf="signUpForm.get('name').errors?.maxlength">
                        O nome deve possuir até 40 caracteres
                    </mat-error>
                    <mat-error *ngIf="signUpForm.get('name').errors?.pattern">
                        o nome não deve conter números
                    </mat-error>
                </mat-form-field>
                <br>
                <mat-form-field class="w-100" appearance="outline">
                    <mat-label>E-mail</mat-label>
                    <input 
                        formControlName="email"
                        matInput
                        type="email">
                    <mat-error *ngIf="signUpForm.get('email').errors?.required">
                        O e-mail é obrigatório
                    </mat-error>
                    <mat-error *ngIf="signUpForm.get('email').errors?.email">
                        Inserir um e-mail válido
                    </mat-error>
                </mat-form-field>
                <br>
                <mat-form-field class="w-100" appearance="outline">
                    <mat-label>Senha</mat-label>
                    <input 
                        formControlName="password"
                        matInput
                        [type] = "hide ? 'password' : 'text'">
                        <button mat-icon-button matSuffix (click)="hide = !hide">
                            <mat-icon>
                                {{hide ? 'visibility' : 'visibility_off'}}
                            </mat-icon>
                        </button>
                    <mat-error *ngIf="signUpForm.get('password').errors?.required">
                        A senha é obrigatória
                    </mat-error>
                    <mat-error *ngIf="signUpForm.get('password').errors?.minlength">
                        A senha deve possuir mais de 8 caracteres
                    </mat-error>
                    <mat-error *ngIf="signUpForm.get('password').errors?.maxlength">
                        A senha deve possuir até 14 caracteres
                    </mat-error>
                </mat-form-field>
            </mat-dialog-content>
            <mat-dialog-actions class="row justify-content-center">
                <button mat-button mat-dialog-close>CANCELAR</button>
                <button type="submit" mat-raised-button>SALVAR</button>
            </mat-dialog-actions>
        </form>
    </main>
</article>