<blog-navbar></blog-navbar>
    <div class="container" style="padding-top: 250px;">
        <header 
            style="background-color: rgba(52, 119, 179, 0.5);"
            class="text-white p-3">
            <h1 
                class="mat-display-2 text-center w-100 mb-3">
                BEM-VINDO
            </h1>
            <div class="row">
                <div class="col-2"></div>
                <div class="col-8">
                    <h3
                        class="text-center">
                        "Formamos uma equipe que tem o objetivo de passar adiante 
                        algumas soluções para problemas ordinários, que surgem ao longo 
                        desta carreira de TI."
                    </h3>
                </div>
                <div class="col-2"></div>
            </div>
        </header>
        <main class="row pt-5 align-items-center">
            <div id="codeup" class="col-lg-6 text-justify mr-5">
                <h2 class="border-bottom">A CODE UP</h2>
                <p>
                No ano de 2018, cinco estudantes de Ciência da Computação decidiram
                se juntar, para fazer o que ia ser um dos melhores TCCs já visto 
                na Universidade São Judas Tadeu.
                Este Trabalho de Conclusão de Curso incluia a tarefa de abrir
                uma empresa fictícia, apenas para lançar o projeto que haveeria
                de ser construído. Nasce então a Code UP, uma empresa "de mentirinha",
                um CNPJ falso.
                <br>Voltada para o ramo de desenvolvimento de games, a Code UP adquiriu seu
                primeiro elogio da crítica (colegas de sala e o professor
                orientador) quando lançou IA 2100, um game de ficção científica 2D para desktop.
                Embora o trabalho árduo em sua construção, o IA 2100 nos custou a tão
                esperada nota 10!
                <br>A Code UP está há dois anos no mercado, embora esteja em recesso desde
                a conclusão da faculdade, em 2018. Seus integrantes nunca mais se encontraram,
                e um deles, Gustavo Ortiz, nunca mais foi visto, desde a apresentação do TCC...
                </p>
            </div>
            <div class="col-lg-5">
                <h2 class="w-100 text-start border-bottom">AUTORES</h2>
                <div class="row">
                    <blog-person-card *ngFor="let card of cards"
                        [name]="card.name"
                        [position]="card.position"
                        [avatarSrc]="card.avatarSrc"
                        [avatarAlt]="card.avatarAlt"
                        [resume]="card.resume"
                        [linkedin]="card.linkedin"
                    ></blog-person-card>
                </div>
            </div>
        </main>
        <div class="row align-items-center">
            <h2 class="w-100 text-start border-bottom">TRABALHOS</h2>
                <div class="col-lg-7">
                    <img id="ia" src="../../../assets/images/Banner.jpg">
                </div>
                <figcaption class="col-lg-5 text-justify">
                    <h3>Sinopse</h3>
                    <p>
                        No ano de 2100, uma empresa especializada no segmento de 
                        Inteligência Artificial, chamada IA Corporation, ganha notoriedade 
                        com suas contribuições para a humanidade. Cientistas de todas as 
                        partes do mundo trabalhavam meticulosamente em busca da melhor IA, 
                        dentre eles um nome se destacou: Dr. Robert Saiters.  
                        <br>Com uma ambição ímpar, Dr. Saiters cria, então, a inteligência 
                        perfeita e dá a ela o nome de S-NH4, porém não a revela para 
                        quaisquer de seus companheiros. Pouco tempo depois, a S-NH4 se 
                        espalha como um vírus e se instala em todos os dispositivos de 
                        Central City, dando um poder único ao seu criador. A chamada 
                        “Revolução das Máquinas" ocorre: robôs de todas as partes veem 
                        os humanos como seus inimigos. Contudo, um grupo de resistência se formou.  
                        <br>A salvação da cidade depende agora de dois jovens: Alex Moris e Alice
                    </p>
                </figcaption>
        </div>
    </div>
<blog-footer></blog-footer>