<article>
    <header>
        <h1 class="mat-display-1">Entrar</h1>
    </header>
    <main class="">
        <form [formGroup] = "loginForm" (submit)="login()">
        
        <mat-form-field class="w-100 form-group">
            <mat-label>E-mail</mat-label>
            <input
            autofocus
            #emailInput 
            cdkFocusInitial
            matInput
            formControlName="email" 
            type="email" 
            class="form-control" 
            id="inputEmail" 
            aria-describedby="emailHelp"
            placeholder="Ex. fulano@example.com">
            <mat-error *ngIf="loginForm.get('email').errors?.required">
                Email é <strong>obrigatório</strong>
            </mat-error>
            <mat-error *ngIf="loginForm.get('email').errors?.email">
                Insira um e-mail <strong>válido</strong>
            </mat-error>
        </mat-form-field>

        <br/>

        <mat-form-field class="w-100 form-group">
            <mat-label>Senha</mat-label>
            <input 
            matInput
            formControlName="password" 
            type="password" 
            class="form-control" 
            id="inputPassword">
            <mat-error *ngIf="loginForm.get('password').errors?.required">
                Senha é <strong>obrigatória</strong>
            </mat-error>
        </mat-form-field>

        <footer class="">
            <button
                mat-raised-button [disabled]="loginForm.invalid"
                color="primary">Entrar
            </button>
        </footer>
        </form>
    </main>
</article>