<mat-card class="mb-3">
    <mat-card-header>
      <img 
        mat-card-avatar 
        [src]="avatarSrc"
        [alt]="avatarAlt">
      <mat-card-title>
        {{name}}
      </mat-card-title>
      <mat-card-subtitle>{{position}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p class="text-justify mb-0">{{resume}}</p>
      <h2>
        <a class="badge badge-dark" target="_blank" [href]="linkedin">
          <i class="fa fa-linkedin"></i>
        </a>
      </h2>
    </mat-card-content>
</mat-card>