<ngb-carousel>

  <ng-template ngbSlide>
    <blog-carousel-item 
      src="../../../../assets/images/carousel-images/java.jpg" 
      description="Third Slide"
    ></blog-carousel-item>
  </ng-template>

  <!-- <ng-template ngbSlide>
    <blog-carousel-item 
      src="../../../../assets/images/carousel-images/angular.jpg" 
      description="Third Slide"
    ></blog-carousel-item>
  </ng-template>

  <ng-template ngbSlide>
    <blog-carousel-item 
      src="../../../../assets/images/carousel-images/spring.jpg" 
      description="Third Slide"
    ></blog-carousel-item>
  </ng-template> -->

</ngb-carousel>