<header>
  <nav class="fixed-top container pt-5" style="background-color: rgba(0,0,0,0.0);">
    <ul ngbNav #nav="ngbNav" class="row align-items-center">
      <li class="col-sm">
        <a href="">
          <img 
            class="img-fluid logo" 
            src="../../../assets/images/logo/LogoEmpresaLight.png" 
            alt="Code Up Logo">
        </a>
      </li>
      <div class="col-sm p-0">
        <div class="row justify-content-center m-0">
          <li>
            <button mat-button (click) = "gotToAboutPage()">CODE UP</button>
          </li>
          <li class="ml-5">
            <button (click) = "openLoginModal(content)" mat-raised-button>ENTRAR</button>
          </li>
        </div>
      </div>
    </ul>
  </nav>
</header>

<ng-template #content let-modal>
  <header class="modal-header">
      <h1>Entrar</h1>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
  </header>
  <main class="modal-body">
    <form [formGroup] = "loginForm" (submit)="login()">
      
      <mat-form-field class="w-100 form-group">
        <mat-label>E-mail</mat-label>
        <input 
          matInput
          formControlName="email" 
          type="email" 
          class="form-control" 
          id="inputEmail" 
          aria-describedby="emailHelp"
          placeholder="Ex. fulano@example.com">
          <mat-error *ngIf="loginForm.get('email').errors?.required">
              Email é <strong>obrigatório</strong>
          </mat-error>
      </mat-form-field>

      <br/>

      <mat-form-field class="w-100 form-group">
        <mat-label>Senha</mat-label>
        <input 
          matInput
          formControlName="password" 
          type="password" 
          class="form-control" 
          id="inputPassword">
          <mat-error *ngIf="loginForm.get('password').errors?.required">
            Senha é <strong>obrigatória</strong>
          </mat-error>
      </mat-form-field>

      <footer class="modal-footer">
          <button mat-button (click)="modal.close('Close click')">Fechar</button>
          <button  
            mat-raised-button [disabled]="loginForm.invalid"
            color="primary">Entrar
          </button>
      </footer>
    </form>
  </main>
</ng-template>