<header>
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" style="background-color: rgba(0,0,0,0.0);">
    <a class="navbar-brand" href="">
      <img class="img-fluid logo" src="../../../assets/images/logo/LogoEmpresaLight.png" alt="Code Up Logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link bg-dark text-white rounded-lg p-2" href="">Home<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link rounded-lg ml-2" href="/about">Code Up</a>
        </li>
        <li class="nav-item">
          <a class="nav-link rounded-lg ml-2" href="#">Pesquisar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link rounded-lg ml-2" href="#" data-toggle="modal" data-target="#exampleModal">Entrar</a>
        </li>
      </ul>
    </div>
  </nav>
</header>