<header>
  <nav class="fixed-top container pt-5" style="background-color: rgba(0,0,0,0.0);">
    <ul ngbNav #nav="ngbNav" class="row align-items-center">
      <li class="col-sm">
        <a [routerLink]="''">
          <img 
            class="img-fluid logo" 
            src="../../../assets/images/logo/LogoEmpresaLight.png" 
            alt="Code Up Logo">
        </a>
      </li>
      <div class="col-sm p-0">
        <div class="row justify-content-center m-0">
          <li>
            <button mat-button [routerLink]="'/about'">CODE UP</button>
          </li>
          <li class="ml-5">
            <button mat-raised-button [routerLink]="'/signin'">ENTRAR</button>
          </li>
        </div>
      </div>
    </ul>
  </nav>
</header>