<blog-navbar></blog-navbar>
    <div class="container-fluid pl-5" id="container">
        <div class="row">
            <div class="col-lg-6 mb-2">
                <img id="team" class="img-fluid"
                    src="../../../assets/images/Banner.jpg" alt="Welcome">
            </div>
            <div class="col-lg-1"></div>
            <div class="col-lg-4">
                <router-outlet></router-outlet>
            </div>
            <div class="col-lg-1"></div>
        </div>
    </div>
<blog-footer></blog-footer>