<blog-shared>
    <div class="container-fluid pl-5" style="padding-top: 200px">
        <div class="row">
            <div class="col-lg-6 mb-2">
                <img id="team" class="img-fluid"
                    src="../../../assets/images/Banner.jpg" alt="Welcome">
            </div>
            <div class="col-lg-1"></div>
            <div class="col-lg-4">
                <router-outlet></router-outlet>
            </div>
            <div class="col-lg-1"></div>
        </div>
    </div>
</blog-shared>