<header>
  <nav class="fixed-top container pt-5" style="background-color: rgba(0,0,0,0.0);">
    <ul ngbNav #nav="ngbNav" class="row align-items-center">
      <li class="col-sm">
        <a [routerLink]="['']">
          <img 
            class="img-fluid logo" 
            src="../../../assets/images/logo/LogoEmpresaLight.png" 
            alt="Code Up Logo">
        </a>
      </li>
      <div class="col-sm">
        <div class="row justify-content-end mr-2">
          <li class="ml-5">
            <button 
              (click) = "openModal()" 
              mat-raised-button
              matTooltip="Cadastrar novo usuário"
              matTooltipPosition="left">CADASTRAR</button>
          </li>
          <li class="ml-2">
            <button 
              (click) = "logout()" 
              mat-raised-button
              color="primary">SAIR</button>
          </li>
        </div>
      </div>
    </ul>
  </nav>
</header>