<article class="container mt-5">
    <header class="row justify-content-center">
        <h1 class="mat-display-3 mb-4 text-center">Bem-vindo à CODE UP Studio!</h1>
    </header>
    <main class="row justify-content-center mb-5">
        <p class="text-center pt-0">
            Aqui na <b>CODE UP</b> você vai encontrar materias de apoio nas mais
            diversas plataformas e linguagens de programação.
            <br>Esperamos ajudá-los tirando as vossas dúvidas, afinal os seus questionamentos
            foram, são ou serão os nossos.
            <br>Não se esqueça que também somos desenvolvedores, e assim como vocês
            também estamos buscando sempre o aperfeiçoamento profissional.
            <br> Aproveite a jornada!
        </p>
    </main>
    <div class="row justify-content-center mb-5">
        <h2 class="mt-5 mb-1 w-100 text-center border-bottom">
            PESQUISE POR SUA ÁREA DE INTERESSE
        </h2>
        <form class="mt-2 row w-100 justify-content-center">
            <div class="form-group col-8">
                <input type="plain-text" class="form-control" placeholder="Java" value="">
            </div>
            <div>
                <button mat-raised-button color="primary">PESQUISAR</button>
            </div>
        </form>
    </div>
</article>