<div class="container mt-5">
  <h3 class="text-center border-bottom mat-display-1 mb-0">Posts mais recentes</h3>
</div>
<div class="container-fluid">
  <section class="row justify-content-center">
    <blog-card-item class="m-4 col-lg-3"
      *ngFor="let card of cards" 
      [url]="card.url" 
      [description]="card.description"
      [title]="card.title">
    </blog-card-item>
  </section>
</div>
<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item">
      <button mat-button (click)="loadLess()">Voltar</button>
    </li>
    <li class="page-item ml-2">
      <button mat-raised-button (click)="loadMore()">Próximo</button>
    </li>
  </ul>
</nav>
