<div class="container-fluid">
  <section class="row justify-content-center">
    <blog-card-item 
      *ngFor="let card of cards" 
      [url]="card.url" 
      [description]="card.description"
      [title]="card.title">
    </blog-card-item>
  </section>
</div>
<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item">
      <blog-previous-button (click)="loadLess()" [hasMore] = hasMore></blog-previous-button>
    </li>
    <li class="page-item">
      <blog-next-button (click)="loadMore()" [hasMore] = hasMore></blog-next-button>
    </li>
  </ul>
</nav>
