<div class="row w-100 justify-content-center mb-5">
    <div class="col-2"></div>
    <div class="col-8">
        <h2 class="mt-5 mb-1 w-100 text-center border-bottom">
            PESQUISE POR SUA ÁREA DE INTERESSE
        </h2>
        
        <form 
            [formGroup]="searchForm" 
            class="mt-2 row w-100 justify-content-center" 
            (submit)="search()">
            
            <div class="form-group col-8">
                <input
                    #searchField
                    formControlName="search"
                    type="search" 
                    class="form-control" 
                    placeholder="Java">
                <small style="color: red;" 
                    *ngIf="searchForm.get('search').errors?.pattern">Insira apenas letras</small>
            </div>
            <div>
                <button 
                    [disabled]="searchForm.invalid" 
                    mat-raised-button color="primary">PESQUISAR</button>
            </div>
        </form>
    </div>
    <div class="col-2"></div>
</div>