<div class="container-fluid">
  <section class="row justify-content-center">
    <article class="card m-4 p-2 col-md-3">
        <img class="card-img-top card-position-image" src="../../../assets/images/capa_materialize.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </article>
    <article class="card m-4 p-2 col-md-3">
      <img class="card-img-top card-position-image" src="../../../assets/images/capa_materialize.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </article>
    <article class="card m-4 p-2 col-md-3">
      <img class="card-img-top card-position-image" src="../../../assets/images/capa_materialize.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </article>
    <article class="card m-4 p-2 col-md-3">
      <img class="card-img-top card-position-image" src="../../../assets/images/capa_materialize.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </article>
  </section>
  <section class="row justify-content-center">
    <article class="card m-4 p-2 col-md-3">
      <img class="card-img-top card-position-image" src="../../../assets/images/capa_materialize.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </article>
    <article class="card m-4 p-2 col-md-3">
      <img class="card-img-top card-position-image" src="../../../assets/images/capa_materialize.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </article>
  </section>
</div>